<nav class="navbar navbar-expand-md border-bottom sticky-top bg-white">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Mobile Search -->
    <form class="d-flex d-md-none me-2" action="/listings" method="GET">
      <input class="form-control search-input-mobile" type="search" name="search" placeholder="Search">
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop Navbar -->
    <div class="collapse navbar-collapse d-none d-md-flex">

      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Desktop Search -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" action="/listings" method="GET">
          <input class="form-control me-2 search-input" type="search" name="search"
            placeholder="Search hotel or location">

          <button class="btn btn-search">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link btn btn-outline-secondary" href="/listings/new">Become a Host</a>

        <% if(!CurrentUser){ %>
          <a class="nav-link btn btn-outline-success" href="/signup">Signup</a>
          <a class="nav-link btn btn-outline-info" href="/login">Login</a>
          <% } %>

            <% if(CurrentUser){ %>
              <a class="nav-link btn btn-outline-danger" href="/logout">Logout</a>
              <% } %>
      </div>

    </div>
  </div>
</nav>

<!-- Mobile Right Side Menu -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">

    <a class="nav-link mb-3" href="/listings">Explore</a>

    <a class="nav-link mb-3 btn btn-outline-secondary" href="/listings/new">
      Become a Host
    </a>

    <% if(!CurrentUser){ %>
      <a class="nav-link mb-3 btn btn-outline-success" href="/signup">Signup</a>
      <a class="nav-link mb-3 btn btn-outline-info" href="/login">Login</a>
      <% } %>

        <% if(CurrentUser){ %>
          <a class="nav-link mb-3 btn btn-outline-danger" href="/logout">Logout</a>
          <% } %>

  </div>
</div>