<%layout("/layout/bollerplate")%>
<body>
    <h3>All listing</h3>
    <ul>
        <% for(let listing of alllistings){ %>
            <li><a href="/listings/<%=listing.id%>"><%=listing.title %></a></li>
        <% }%>
    </ul>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
</body>
