<%layout("/layout/bollerplate")%>

    <body>
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                <h2>Create a new Listings</h2>
                <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="Listing[title]" placeholder="Enter title" class="form-control"
                            required>
                        <div class="valid-feedback">Title Looks good!</div>
                        <div class="invalid-feedback">Please Enter Title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea name="Listing[description]" id="description" placeholder="Enter Description"
                            class="form-control" required></textarea>
                        <div class="valid-feedback">Description Looks good!</div>
                        <div class="invalid-feedback">Please Enter Description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Photo:</label>
                        <input type="file" name="Listing[image][url]" class="form-control" required>
                        <div class="valid-feedback">Image(URL) Looks good!</div>
                        <div class="invalid-feedback">Please Enter Image URL</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price:</label>
                            <input type="number" name="Listing[price]" placeholder="Enter price" class="form-control"
                                required>
                            <div class="valid-feedback">Price Looks good!</div>
                            <div class="invalid-feedback">Please Enter Price.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country:</label>
                            <input type="text" name="Listing[country]" placeholder="Enter Country" class="form-control"
                                required>
                            <div class="valid-feedback">Country Looks good!</div>
                            <div class="invalid-feedback">Please Enter Country.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" name="Listing[location]" placeholder="Enter Location" class="form-control"
                            required>
                        <div class="valid-feedback">Location Looks good!</div>
                        <div class="invalid-feedback">Please Enter Location.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>